<div class="row">

    <div class="content col-12 col-md-6 "> <h2>گرین غول چیست؟</h2>
        <p>گرین غول یک رسانه مستقل مربوط به فیلم و سریال است که ابزار ساخت لیست فیلم های مورد علاقه , یافتن افراد با سلیقه نزدیک و ساخت پست راجب نقاط قوت و ضعف فیلم ها را در اختیار شما قرار می دهد.   
        </p>
        <p>برای شروع کافی است ثبت نام کنید و اولین پست خود را بگذارید یا پستی که می پسندید را لایک کنید.</p>
        

      
    
    </div>

    <div class="content col-12 col-md-6">
        <h2>افراد با سلیقه نزدیک به شما</h2>
        <p>در گرین غول یافتن این افراد بسیار ساده شده است. شما می توانید پس از ساختن لیستی از فیلم های مورد علاقه , افرادی که نزدیک ترین سلیقه به شما را دارند در قسمت پروفایل خود مشاهده کنید.</p>
        <p>این افراد به دلیل نزدیکی سلیقه معمولا پست هایی می گذارند که ممکن است شما بپسندید و از پیشنهاد فیلم این افراد استفاده کنید.</p>
        
    </div>

    <div class="content col-12 col-md-6">
        <h2>در رابطه با نقاط قوت و ضعف فیلم ها پست بگذارید.</h2>
        <p>به دنبال کنندگان و همچنین عموم مردم نشان دهید راجب یک فیلم چه فکر می کنید.</p>
        <p>برای این کار کافی است به قسمت پست بروید , نام فیلم مورد نظر را انتخاب کنید و در سطر های نقاط قوت راجب نقاط قوت و در سطر های نقاط ضعف راجب نقاط ضعف آن فیلم بنویسید. </p>
        
    </div>


    <div class="content col-12 col-md-6">
        <h2>طرح درامد زایی</h2>
        <p>در حال حاضر روی طرحی کار می کنیم که افراد پر بازدید بتوانند درامد زایی کنند.</p>
        <p>به زودی اطلاعات بیشتر منتشر خواهد شد.</p>
        
    </div>        


</div>
<hr>





<script>
   var lines = document.querySelector(".lines")
   lines.addEventListener("click",()=>{
    var menu = document.querySelector(".menu")
    if(menu.style.display=="block"){
        menu.style.display= "none"
    } else{
        menu.style.display="block"
    }
    
   })
</script>
